.topnav {
  background-color: #557174;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Trebuchet MS";
  display: inline-block;
  letter-spacing: 2px;
  width: 24.73%;
  transition:all .4s ease-out;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #557174;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9dad7f;
  color: white;
}
.dropdown {
  position: absolute;
  display: inline;
  width: 100%;
}

.dropdown .dropbtn {
  font-size: 14px;  
  color: #f2f2f2;
  padding: 18px 18px;
  display: inline;
  background-color: #557174;
  font-family: "Trebuchet MS";
  letter-spacing: 2px;
  width: 24.73%;
  border-width: 0;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: #557174;
  transition:all .4s ease-out;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9dad7f;
  width: 24.73%;
  transition:all .4s ease-out;
}

.dropdown-content a {
  color: #f2f2f2;
  padding: 18px 18px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition:all .4s ease-out;
}
