* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 0px solid grey;
    float: right;
    width: 15%;
    background: #f1f1f1;
    margin-right: 5px;
  }
  
  /* Style the submit button */
  form.example button {
    float: right;
    width: 3%;
    padding: 10px;
    background: #c7cfb7;
    color: white;
    font-size: 12px;
    border: 0px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #557174;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }